################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hid-Test-App-Tests/bin/Debug/net10.0-windows
/Hid-Test-App-Tests/obj
/HID-Test-App/.vs
