################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hid-Test-App-Tests/bin/Debug/net10.0-windows
/Hid-Test-App-Tests/obj
/HID-Test-App/.vs
sfw-00082/.clangd
sfw-00082/tests/test_command_handler
sfw-00082/tests/test_command_handler.exe
sfw-00082/tests/test_outputs
sfw-00082/tests/test_outputs.exe
